# Borrower reliability study

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Open the table and learn general information about the data

**Import the library Pandas and store the dataframe in a variable**

In [8]:
import pandas as pd
data = pd.read_csv('data.csv')

**Output the first 20 rows of the dataframe**

In [10]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Display basic information about the dataframe**

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Data preprocessing

### Deletion of gaps

**Output the number of missing values for each columns**

In [14]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

Two columns have missing values: days_employed, total_income. Processed missing values first in column 'total_income' and then in column 'days_employed'

**total_income \
Fill in the missing values with the median from each group**

In [15]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Processing of abnormal values

**There are negative values of seniority in the data. We need to replace them with positive values.**

In [17]:
data['days_employed'] = data['days_employed'].abs()

**Display the median value of seniority for each type of employment**

In [18]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

Columns 'безработный' and 'пенсионер' have abnormally high values. We don't need this data, so we won't delete it.

**Output uniqui values of column 'children'**

In [19]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Remove anomalous value in column 'children'**

In [20]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Make a check**

In [21]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Deletion of gaps (again)

**days_employed \
Fill in the missing values with the median from each group**

In [22]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Make a check**

In [23]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Changing data types

**Change real type to integer type in column 'total_income'**

In [24]:
data['total_income'] = data['total_income'].astype(int)

### Duplicate Handling

**Output the number of rows of duplicates in the data**

In [25]:
data.duplicated().sum()

54

**Delete duplicates**

In [26]:
data = data.drop_duplicates()

**Remove implicit duplicates in column 'education'**

In [27]:
data['education'] = data['education'].str.lower()

In [29]:
data = data.drop_duplicates()

**Make a check**

In [30]:
data.duplicated().sum()

0

### Data categorization

**Create column 'total_income_category' containig categories:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [31]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [32]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Display unique values of column 'purpose'**

In [33]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Create column 'purpose_category' containig categories:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [34]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [35]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

<div class="alert alert-danger">
<b>Комментарий ревьюера ❌:</b> К сожалению, все ответы на вопросы сделаны не совсем верно, их нужно будет доработать. В каждом из них нужно ответить на вопрос взаимосвязи группы и возварата кредита в срок, т.е. нужно смотреть не на уровни дохода, а на количество кредитополучателей и должников в группах. Пожалуйста, исправь ответы на вопросы, чтобы их можно было корректно проверить) </div>

<div class="alert alert-danger">
<b>Комментарий ревьюера v 2.0 ❌:</b> Александр, немного не так, давай немного подтолкну к ходу мысли:

Проще и лучше всего в ответах на вопросы воспользоваться сводными таблицами (pivot_table), где в index нужно указывать по порядку рассматриваемый каждый из необходимых в вопросах параметр (children, family_status и т.д), в values указывать debt (должников) и указать три необходимые функции в aggfunc.

Ты тоже в каждом из ответов проводишь отличное исследование, но это не совсем то, что нужно исходя из ТЗ.</div>

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [22]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,C,операции с недвижимостью
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,C,операции с недвижимостью
12,0,365286.622650,65,среднее,1,гражданский брак,1,M,пенсионер,0,118514,сыграть свадьбу,C,проведение свадьбы
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,C,операции с автомобилем
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,C,операции с недвижимостью
15,1,972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820,строительство собственной недвижимости,C,операции с недвижимостью
16,0,1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202,недвижимость,B,операции с недвижимостью
17,0,2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410,строительство недвижимости,C,операции с недвижимостью
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823,на покупку подержанного автомобиля,C,операции с автомобилем
19,0,10038.818549,48,среднее,1,в разводе,3,F,сотрудник,0,242831,на покупку своего автомобиля,B,операции с автомобилем

In [23]:
data_pivot = data.pivot_table(index=['children'], values='debt', aggfunc='count')
data_pivot

           debt
children
0         14107
1          4809
2          2052
3           330
4            41
5             9

In [24]:
data_pivot = data.pivot_table(index=['children'], values='debt', aggfunc='sum')
data_pivot

          debt
children
0         1063
1          444
2          194
3           27
4            4
5            0

In [25]:
data_pivot = data.pivot_table(index=['children'], values='debt', aggfunc='mean')
data_pivot

              debt
children
0         0.075353
1         0.092327
2         0.094542
3         0.081818
4         0.097561
5         0.000000

**Вывод:** \
Зависимость между вероятностью возврата кредита в срок и количеством детей есть. Наибольшее количество человек, взявших кредит - это те, которые не имеют детей. Также больше всего из этой группы тех, кто не возвращал кредит в срок. Однако значение, которое определяет относительное количество людей взявших кредит и невернувших в срок кредит больше всего в группе, у которых двое детей. Поэтому самая рискованная группа - это группа с двумя детьми.

<div class="alert alert-success">
<b>Комментарий ревьюера v 3.0 ✔️:</b> Вот сейчас все как надо, молодец. В agg у пивот можно указать функции через запятую, тогда табличку можно будет собрать сразу всю

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [28]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot = data.pivot_table(index=['family_status'], values='debt', aggfunc='count')
data_pivot

                        debt
family_status
Не женат / не замужем   2796
в разводе               1189
вдовец / вдова           951
гражданский брак        4146
женат / замужем        12266

In [29]:
data_pivot = data.pivot_table(index=['family_status'], values='debt', aggfunc='sum')
data_pivot

                       debt
family_status
Не женат / не замужем   273
в разводе                84
вдовец / вдова           63
гражданский брак        385
женат / замужем         927

In [30]:
data_pivot = data.pivot_table(index=['family_status'], values='debt', aggfunc='mean')
data_pivot

                           debt
family_status
Не женат / не замужем  0.097639
в разводе              0.070648
вдовец / вдова         0.066246
гражданский брак       0.092861
женат / замужем        0.075575

**Вывод:** \
Зависимость между семейным положением и возврат кредита в срок есть. Наибольшее количество закредитованных и тех кто не вернул кредит в срок приходится на лиц, которые находятся в браке. Однако доля невернувших кредит от общего числа больше всего у не находящихся никогда в браке людей - "не женат/не замужем". Поэтому самая рискованная группа "не женат/не замужем".

<div class="alert alert-success">
<b>Комментарий ревьюера v 3.0 ✔️:</b> Совершенно верно, хорошо определил зависимость

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [31]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot = data.pivot_table(index=['total_income_category'], values='debt', aggfunc='count')
data_pivot

                        debt
total_income_category
A                         25
B                       5014
C                      15938
D                        349
E                         22

In [32]:
data_pivot = data.pivot_table(index=['total_income_category'], values='debt', aggfunc='sum')
data_pivot

                       debt
total_income_category
A                         2
B                       354
C                      1353
D                        21
E                         2

In [33]:
data_pivot = data.pivot_table(index=['total_income_category'], values='debt', aggfunc='mean')
data_pivot

                           debt
total_income_category
A                      0.080000
B                      0.070602
C                      0.084891
D                      0.060172
E                      0.090909

**Вывод:** \
Между уровнем дохода и возвратом кредита в срок зависимость есть. Наибольшее количество закредитованных и тех кто не вернул кредит в срок приходится на лиц с доходом категории C. Однако доля невернувших кредит от общего числа больше всего у лиц с доходом категории E. Поэтому самая рискованная группа доходом категории E.

<div class="alert alert-success">
<b>Комментарий ревьюера v 3.0 ✔️:</b> Замечательно, также все правильно

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [34]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot = data.pivot_table(index=['purpose_category'], values='debt', aggfunc='count')
data_pivot

                           debt
purpose_category
операции с автомобилем     4281
операции с недвижимостью  10754
получение образования      3989
проведение свадьбы         2324

In [35]:
data_pivot = data.pivot_table(index=['purpose_category'], values='debt', aggfunc='sum')
data_pivot

                          debt
purpose_category
операции с автомобилем     400
операции с недвижимостью   780
получение образования      369
проведение свадьбы         183

In [36]:
data_pivot = data.pivot_table(index=['purpose_category'], values='debt', aggfunc='mean')
data_pivot

                              debt
purpose_category
операции с автомобилем    0.093436
операции с недвижимостью  0.072531
получение образования     0.092504
проведение свадьбы        0.078744

**Вывод:** \
Наибольшее количество кредитов оформляется на Оперции с недвижимостью. Наибольшее количество кредитов и тех кредитов, которые не были возвращены в срок приходится на Операции с недвижимостью. Однако доля кредитов, которая не была возвращена и общее количество кредитов самая высокая в категории Операции с автомобилем. Поэтому самая рискованная группа "Операции с автомобилем".

<div class="alert alert-success">
<b>Комментарий ревьюера v 3.0 ✔️:</b> Отлично, подробно исследовал каждое значение в этом типе зависимости

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

*Ответ:* 
1. Клиент не заполнил данные - пропустил
2. Ошибка работы системы - серверной части обработки данных
3. Ошибки, связанные с предобрадоткой данных, которые впоследсвии были загружены в базу данных (уже с ошибками)

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Хорошие предположения о причинах пропусков данных

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

*Ответ:* Большие данные распределены по группам неравномерно, в таком случае, если брать среднее значение результат будет некорректным

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Верно, проблема тут в выбросах

## Общий вывод.

Датасет имеет достаточное количество данных для того, чтобы спрогнозировать какие группы будут возвращать кредит в срок, а какие нет. В некоторых выборках можно утвержать, что их показатели рисков примерно одинаковы, однако всегда однозначно можно выделить наиболее рискованную группу

<div class="alert alert-danger">
<b>Комментарий ревьюера ❌:</b> В целом хорошо, но общий вывод нужно будет переделать после исправления ответов на вопросы </div>

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Александр, ты хорошо постарался! У тебя сильные аналитические навыки и владение инструментами для проведения исследования. Но видимо ты не до конца понял вопросы в последнем разделе исследования и я попрошу тебя исправить его, чтобы проект стал еще лучше! </div>